* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  display: grid;
  place-items: center;
  background-color: pink;
}

.container {
  width: 1000px;
  height: 600px;
  overflow: auto;
}

.chart {
  width: 1000px;
  height: 600px;
  background-color: white;
  border-radius: 6px;
}

.header {
  height: 60px;
}

.content {
  height: 100%;
}

.items {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 240px;
}

.item {
  width: 240px;
}

.label {
  position: fixed;
  background: lightblue;
  z-index: 99;
  height: 60px;
  display: grid;
  place-items: center;
  width: 240px;
}
