* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  display: grid;
  place-items: center;
}

.grid__scroller {
  overflow: scroll;
  width: 1000px;
  height: 600px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid__entry {
  width: 240px;
}

.grid__entry,
.grid__header {
  padding: 8px;
  background-color: #fff;
  border: 1px solid lightgray;
  height: 90px;
}

.grid__header {
  background-color: lightgray;
  position: sticky;
  top: 0;
  z-index: 9;
  height: 50px;
}

.grid__navbar {
  position: sticky;
  left: 0;
}

.grid__label {
  z-index: 99;
  background-color: lightblue;
  left: 0;
  top: 0;
}

.grid__line {
  height: 30px;
  background: red;
  border-radius: 6px;
  color: white;
  display: grid;
  place-items: center;
  cursor: pointer;
}
