body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.grid-scroller {
  overflow: scroll;
  height: 600px;
  width: 1000px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 200px);
  width: 100%;
}

.grid-entry,
.grid-header {
  padding: 7px;
  background-color: white;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

.grid-entry.last,
.grid-header.last {
  border-right: none;
}

.grid-header {
  background-color: lightgray;
  position: sticky;
  top: 0;
  z-index: 1;
}

.grid-header.fixed-left {
  z-index: 2;
}

.fixed-left {
  position: sticky;
  left: 0;
}

.fixed-right {
  border-left: 1px solid gray;
  border-right: none;
  position: sticky;
  right: 0;
}

.fixed-right2 {
  border-left: 1px solid gray;
  border-right: none;
  position: sticky;
  right: 200px;
}

.placeholder {
  grid-column-start: 1;
  grid-column-end: 21;
  border-right: none;
}
